.container {
	margin-left: auto;
    margin-right: auto;
    max-width: 700px;

}
}

.title {
	text-align: center;
	margin-left: auto;
    margin-right: auto;

}

h1 {
	text-align: center;
}

.rules {
	padding: 30px;
	margin-left: auto;
    margin-right: auto;
}



.crystals {
	min-width: 400px;
	padding: 30px;
	margin-left: auto;
    margin-right: auto;
}

.random {
	width: 100px;
	height: 100px;
	padding: 20px;
	position: relative;
	left: 200px;
}

.wins-losses {
	width: 100px;
	height: 100px;
	padding: 20px;
	position: relative;
	left: 300px;
	
}

.points-box {
	width: 200px;
	padding: 20px;
    position: relative;
	left: 200px;
}


